In [1]:
import pandas as pd

# Path to the Stata file
file_path = 'LCF.dta'

# Load the Stata file into a DataFrame
df = pd.read_stata(file_path)

# Display the first few rows to verify
print(df.head())

   casenew    weighta     P550tpr  P344pr          P425r A172  \
0    14999   2.834724  380.695762  465.36  Earned income  Yes
1    14993  10.077947  546.413403  855.26  Earned income  Yes
2    14993   4.088676  242.189023  160.96  Earned income  Yes
3    14984   4.571760  421.382353  656.22  Earned income  Yes
4    14981   7.349617  370.405577  398.80  Earned income  Yes

                   A093r                                              A094r  \
0  Economically inactive                     Routine and manual occupations
1      Full-time working  Never worked and long term unemployed, student...
2      Full-time working                           Intermediate occupations
3      Full-time working                     Routine and manual occupations
4      Full-time working  Never worked and long term unemployed, student...

           A121r  SexHRP     A049r     G018r                 G019r  \
0  Public rented  Female  4 person  2 adults  Two or more children
1          Owned  Female  2 person  2 adults           No children
2          Owned  Female  1 person   1 adult           No children
3          Owned    Male  2 person  2 adults           No children
4          Owned    Male  1 person   1 adult           No children

            Gorx  weightar   maininc      income  expenditure  hhsize
0  East Midlands  0.543248  earnings  465.359985   380.695770       4
1         London  1.931344  earnings  855.260010   546.413391       2
2     South East  0.783557  earnings  160.960007   242.189026       1
3        Eastern  0.876135  earnings  656.219971   421.382355       2
4     South East  1.408485  earnings  398.799988   370.405579       1